.card {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 4rem;
    margin-top: 25%;
  }
  
  .card h1 {
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
  }
  
  #present-btn, #absent-btn {
    margin: 10px;
  }
  
  #attendance-table {
    border-collapse: collapse;
    margin: 50px auto;
  }
  
  #attendance-table th, #attendance-table td {
    border: 1px solid black;
    padding: 5px;
  }
  
  .container {
    min-height: 100vh !important;
  }