body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
	padding: 10px;
}

th {
	background-color: #ccc;
}

input[type="submit"] {
	margin: 20px auto;
	display: block;
}

.attendance {
	background-color: #99ff99;
}

.absent {
	background-color: #ff9999;
}
